<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {{> header}}

    <a href="/about">To About</a>
    <h3>{{currentTime}}</h3>
    <h3>{{screamIt WelcomeMessage}}</h3>
    {{> footer}}
  </body>
</html>
