<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <a href="/about">To About</a>
    <h3>{{currentTime}}</h3>
  </body>
</html>
